@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  outline: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #082f49;
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  outline-color: #0369a1;
}

.inverted-btn {
  background-color: #312e81;
  color: #ffca6b;
  transition: all 0.10s;
}
.inverted-btn:hover {
  outline-color: #747bff;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.bg-yellow {
  background-color: #ffca6b;
}

/* .inverted-btn:hover:not(:disabled) {
  color: #312e81;
  background-color: #ffca6b;
} */
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.card {
  padding: 2em;
}

.tooltip-trigger {
  position: relative !important;
}

select {
  padding: 0.6em 1.2em;
  border: 1px solid #6f6b6b;
  border-radius: 8px;
}

input[type="text"], .input {
  padding: 0.6em 1.2em;
  border: 1px solid #6f6b6b;
  height: 42px;
  border-radius: 8px;
}

input[type="number"]:not(.tempo) {
  width: 3rem;
  border: 1px solid #6f6b6b;
  height: 42px;
  border-radius: 8px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].tempo {
  -moz-appearance: textfield;
}

label {
  font-weight: 500;
  padding-block: 0.5em;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  text-align: center;
}

.center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* less inline padding for #app on mobile */
@media (max-width: 640px) {
  #app {
    padding: 0.5rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #ffca6b;
    color: #312e81;
  }
  button:hover {
    outline-color: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  select, input {
    background-color: #3B3B3B;
  }
}

@keyframes radar {
  75%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
